<%- include('./partials/head.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="basket-wrapper" id="basket-wrapper">
<% if (user) { %>
        <div class="page-dark">
                <div class="basket-greetings-wrapper">
                        <h3 class="basket-greetings">Ваша корзина, <%= user.userName %></h3>
                </div>
        </div>
<% } %>
  <div class="basket-conteiner">
    <form action="/basket" method="POST" id="ajax_form">
    <% if (products && products.length > 0) { %>
      <% let totalPrice = 0 %>
      <% products.forEach(({ id, name, price, rating, img, product_info, size}) => { %>
    <div class="basket-product-item">
      <div class="basket-product-wrapper">
        <div class="basket-product-conteiner">
          <div class="basket-product-slider">
            <a href="/product/<%= id %>" class="basket-product-link">
              <% if(img && img.length > 0) { %>
              <% img.forEach(({imgLink}) => { %>
                <div class="basket-product-slider-item">
                    <img src="<%= imgLink %>" alt="Product" class="basket-product-img">
                </div>
              <% })} %>
            </a>
            <a class="basket-product-slider-previous" onclick="previousSlide()">&#10094;</a>
            <a class="basket-product-slider-next" onclick="nextSlide()">&#10095;</a>
          </div>
        </div>
        <div class="basket-product-conteiner-info">
          <% if( product_info ){ %>
            <p class="basket-product-title"><%= product_info.title %></p>
            <p class="basket-product-price">Цена: &nbsp;<%= price %> Br</p>
            <p class="basket-product-rating"><img src="/resource/rating.png" alt="rating" class="basket-product-rating-icon">&nbsp;<%= rating %>/10</p>
              <% if(size && size.length > 0) { %>
                <% size.forEach(({ sizeName}) => { %>
                  <p class="basket-product-description">Размер:&nbsp;<%= sizeName %></p>
                <% }) %>
              <% } else { %>
                <p class="basket-product-description">Размер: не указан</p>
              <% } %>
            <p class="basket-product-description"><%= product_info.description %></p>
          <% } else { %>
            <p class="basket-product-description"> Информация о товаре не указана...</p>
          <% } %>
          </div>
        <div class="basket-product-delete-box">
              <span class="basket-product-delete">
                <input type="radio" name="id" value="<%= id %>" class="basket-product-delete-button" onchange="submit()">×
              </span>
        </div>
      </div>
    </div>
      <% totalPrice += price; %>
    <% }) %>
    <h3> Итого:&nbsp; <%= totalPrice %>&nbsp;Br</h3>
    <div class="basket-btns">
      <button type="button" id="order" class="basket-btns-btn">Оформить заказ</button>
    </div>
    <% } else { %>
    <p class="basket-product-title">Корзина пуста</p>
    <% } %>
  </form>
  <div class="admin-conteiner">
    <form action="/basket/createReview" method="POST" id="createReview-form" class="admin-form">
      <h3 class="admin-form-title">Оставьте отзыв...</h3>
      <div class="admin-form-input-box">
        <textarea name="text" id="text" cols="30" rows="3" required></textarea>
      </div>
      <input type="submit" id="createReview-btn" value="Отправить" class="basket-btns-btn">
    </form>
  </div>
  <% if(userOrders && userOrders.length > 0){ %>
    <div class="orders">
      <h3>Ваши заказы</h3>
      <table class="orders-table">
        <tr>
          <th>№</th>
          <th>Способ доставки</th>
          <th>Товары</th>
          <th>Сумма</th>
          <th>Статус</th>
        </tr>
        <% for(let i = 0; i < userOrders.length; i++) { %>
          <tr>
            <% let totalPrice = 0 %>
            <% if(userOrders[i].order_info){ %>
              <td><%= userOrders[i].id %></td>
              <td><%= userOrders[i].order_info.delivery %></td>
              <td>
                <% if (userOrders[i].orderProduct && userOrders[i].orderProduct.length > 0) { %>
                  <% for(let j = 0; j < userOrders[i].orderProduct.length; j++) { %>
                    <% totalPrice += userOrders[i].orderProduct[j].product.price; %>
                    <% if( userOrders[i].orderProduct[j].product.product_info) { %>
                      <p><%= userOrders[i].orderProduct[j].product.product_info.title %></p>
                    <% } else { %>
                      <p>Информации о товаре не найдено!</p>
                    <% } %>
                  <% } %>
                <% } else { %>
                  <td>Информации о товарах в заказе не найдено!</td>
                <% } %>
              </td>
            <% } else { %>
                <td>Информации о заказе не найдено!</td>
            <% } %>
            <td><%= totalPrice%></td>
            <td><%= userOrders[i].status %></td>
          </tr>
        <% } %> 
      </table>
    </div>
    <% } %>
  </div>
</div>
<%- include('./partials/modal.ejs') %>
<%- include('./partials/footer.ejs') %>
<script src="/scripts/slider.js"></script>

<script>
  $("#viewOrders").click((e) => {
    e.preventDefault();
    document.querySelector(".orders").style.display = "block";
  })

  $("#createReview-form").submit(function createReview(e){
        if(!document.cookie){
            alert("Вы не авторизованы и не имеете доступа!");
        }
        else {
            e.preventDefault();
            $.ajax({
                url:     $("#createReview-form").attr("action"),
                method:     "POST",
                dataType: "json",
                data: $("#createReview-form").serialize(),
                success: function(res) { 
                let result = JSON.stringify(res);
                result = JSON.parse(result);
                alert(result.message);
            },
            error: function(response) { // Данные не отправлены
            alert('Ошибка. Данные не отправлены. Попробуйте еще раз!');
            }
       });
        }
    })
</script>