<%- include('./partials/head.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="page-dark">
  <div class="wrapper">
    <div class="info-conteiner">
      <div class="info-box">
        <img src="/resource/shop.jpg" alt="">
      </div>
      <div class="info-box">
        <div class="info-box-info">
          <p class="info-description">Добро пожаловать в наш интернет магазин модной одежды! Мы рады приветствовать вас на страницах нашего сайта, где вы найдете все для создания яркого и неповторимого образа. <br>
            Наш магазин работает на рынке уже много лет и за это время мы успели зарекомендовать себя как надежный поставщик качественных товаров. Наши покупатели доверяют нам и всегда остаются довольны покупками, получив не только отличное качество и современные модели, но и выгодные цены и качественный сервис.<br>
            Мы предлагаем широкий выбор женской, мужской и детской модной одежды, обуви и аксессуаров разных брендов и стилей. У нас вы найдете все, что нужно для создания неповторимого образа - от классической одежды до смелых экспериментов в стиле casual, sport и street. <br>
            Мы уделяем большое внимание качеству нашего товара и сотрудничаем только с проверенными производителями. Вся наша одежда изготовлена из качественных материалов, которые не только приятны на ощупь, но и долго сохраняют первоначальный вид и форму. Высокое качество нашей продукции гарантируется не только производителем, но и нашими специалистами, которые тщательно проверяют каждый товар перед тем, как отправить его клиенту</p>
        </div>
      </div>
    </div>
    <div class="info-conteiner">
      <div class="info-box">
        <div class="info-box-info">
          <p class="info-description">Мы предлагаем быструю и удобную доставку по всей стране, а также возможность самовывоза из наших точек по всей стране. Для наших клиентов мы постоянно проводим акции и скидки, что позволяет сэкономить на покупках и получить еще больше радости от наших товаров.<br>
            Наш интернет-магазин - это не просто место, где вы можете купить одежду, это место, где вы можете найти вдохновение и сделать покупки, которые действительно будут соответствовать вашим потребностям и желаниям. Мы создаем настоящее сообщество людей, увлеченных модой и стилем, где можно обсуждать последние тенденции и делиться своими идеями и опытом. <br>
            Мы гарантируем, что любая покупка на нашем сайте станет для вас настоящим праздником, который оставит яркие и незабываемые впечатления. Приходите к нам за красотой и стилем - мы всегда рады вам помочь. Сделайте свои покупки удобно и безопасно прямо сейчас на нашем сайте!</p>
        </div>
      </div>
      <div class="info-box">
        <img src="/resource/menLook.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="page-light">
  <div class="wrapper">
    <h3 class="review-topTitle">Отзывы</h3>
      <% if(reviews && reviews.length > 0) { %>
        <div class="review-conteiner">
        <% reviews.forEach(({user, text}) => { %>
          <div class="review-box">
            <p class="review-title"><%= user.userName %></p>
            <p><%= text %></p>
          </div>
        <% }) %>
      </div>
      <%} else { %>
        <p>Отзывов не найдено!</p>
      <% } %>
  </div>
</div>

<%- include('./partials/footer.ejs') %>